.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Service-table {
  color: #61dafb;
}

#title {
  text-align: center;
  font-family: arial, sans-serif;
}

table {
  border-spacing: 10px;
  border: 1 px solid white;
}

.app,
 .containers {
  width: 100%;
  height: 100%;
 }

.containers {
  font-size: 28px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #283c34;
  text-align: center;
}

.flex-container {
  display: flex;
  margin-left: 20px;
}

.tableHeaderStyle{
   text-align: left;
}

#wrapper {
  border: 1px solid #000;
	width: 1000px;
	margin: auto;
}

#header {
  padding: 10px;
  background-color: #eee;
 }

#contentHeader {
  white-space: pre;
}

#menu {
  flex: 0 350px;
  margin-top: 10px;
	padding: 10px;
  font-weight: bold;
}

#content {
  flex: 0 550px;
	border-left: 1px solid #000;
	padding: 10px;
	line-height: 2em;
}

.inputBar {
  height: 30px;
  width: 300px;
}

.bikePanel {
  display: flex;
  margin-top: 10px;
  padding: 20px;
  min-height: 400px;
}

.loadingIndicator {
  text-align: center;
  padding: 40px;
}

.loadingPicture {
  height: 600px;
}

.searchBar {
  margin-top: 20px;
  padding: 20px;
}

.bikeContent {
  margin-left: 40px;
  border-left: 1px solid #000;
  padding: 20px;
  min-height: 400px;
}

#footer {
  background-color: #eee;
  flex: 1 550px;
  padding: 10px;
}

.clearer {
  clear: both;
}

.img {
  height: 70px;
  margin-top: 20px;
  margin-left: 20px;
}

.img2 {
  align-content: flex-start;
  height: 150px;
  margin-top: 50px;
  margin-left: 20px;
}

.searchResults {
  min-width: 800px;
}

.contentHeader {
  margin-left: 20px;
	text-align: left;
}

.contentFooter {
  font-style: italic;
}

#lineName {
  white-space: pre;
}

/*Start line-name-specific CSS, dynamic: */
.Bakerloo {
  background-color: #996633;
  color: white;
}

.Central {
  background-color: #CC3333;
  color: white;
}

.Circle {
	background-color: #FFCC00;
  color: black;
}

.District {
	background-color: #006633;
  color: white;
}

.DLR {
  background-color: #009999;
  color: white;
}

.Hammersmith {
  background-color: #CC9999;
  color: white;
}

.Jubilee {
	background-color: #868F98;
  color: white;
}

.London {
	background-color: #FF6600;
  color: white;
}

.Metropolitan {
	background-color: #660066;
  color: white;
}

.Northern {
	background-color: black;
  color: white;
}

.Piccadilly {
	background-color: #0019a8;
  color: white;
}

.Victoria {
	background-color: #0099CC;
  color: white;
}

.Waterloo {
	background-color: #66CCCC;
  color: white;
}

/*End line-name-specific CSS, dynamic: */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
